<div class="row justify-content-center mt-3">
  <div class="col-md-6 col-sm-12">
    <div class="card">
      <div class="card-body">
        <alert [type]="alert.type" [isOpen]="alert.isOpen">
          {{alert.message}}
        </alert>
        <form class="" [formGroup]="formGroup" (ngSubmit)="save()">
          <div class="form-group">
            <label>Title</label>
            <input tabindex="1" type="text" ngDefaultControl name="title" formControlName="title" class="form-control"/>
            <app-input-helper [fg]="formGroup" [fc]="formGroup.controls.title"></app-input-helper>
          </div>
          <div class="form-group">
            <label>Price</label>
            <input tabindex="1" type="number" ngDefaultControl name="price" formControlName="price" class="form-control"/>
            <app-input-helper [fg]="formGroup" [fc]="formGroup.controls.price"></app-input-helper>
          </div>
          <div class="float-right">
            <button tabindex="-1" type="reset" (click)="reset()" class="btn btn-default mr-3">Reset</button>
            <button tabindex="1" type="submit" class="btn btn-primary">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
