<div class="row mt-3 row-justify-content-center" *ngIf="!orders || !orders.length">
  <div class="col text-center">
    <p class="display-3">Empty</p>
  </div>
</div>
<div class="row justify-content-center mt-3">
  <div class="col-md-6 col-sm-8 col-xs-12">
    <ul class="list-group">
      <li *ngFor="let o of orders" class="list-group-item">
        <a *ngIf="o.status == 'Initiated'; else elseBlock " [routerLink]="['../', o._id]">{{o._id}}</a>
        <ng-template #elseBlock>
          <a [routerLink]="['../', o._id, 'view']">{{o._id}}</a>
        </ng-template>
        <span class="badge badge-danger badge-pill ml-3">{{o.products.length}}</span>
        <span class="float-right">
          <span class="text-muted">{{o.status}}</span>
          <button class="btn btn-outline-danger btn-sm ml-3" (click)="delete(o._id)"><i class="fa fa-trash"></i></button>
          </span>
      </li>
    </ul>
  </div>
</div>
