<div class="row justify-content-center mt-3">
  <div class="col-md-6 col-sm-8 col-xs-12" *ngIf="order">
    <div class="row">
      <div class="col">
        <h4>Order Id: {{order._id}}</h4>
        <span class="float-right">
          <span class="mr-3 text-muted">{{order.status}}</span>
        </span>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col">
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let p of order.products">
            {{ p.title }}
            <div class="float-right">
              <span>
                Quantity: {{ p.quantity }}
              </span>
              <span>
                Price: {{ p.price }}
              </span>
              <span>
                Total Amount: {{ p.price * p.quantity }}
              </span>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
