<div class="row justify-content-center mt-3">
  <div class="col-md-6 col-sm-8 col-xs-12" *ngIf="order">
    <div class="row">
      <div class="col">
        <h4>Order Id: {{order._id}}</h4>
        <span class="float-right">
          <span class="mr-3 text-muted">{{order.status}}</span>
          <button (click)="orderConfirmed()" class="btn btn-primary">Order</button>
        </span>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col">
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let p of order.products">
            {{ p.title }}
            <div class="row float-right justify-content-end">
              <div class="col-10 px-1">
                <span class="input-group input-group-sm">
                  <div class="input-group-prepend">
                    <button (click)="decrementQuantity(p)" class="btn btn-outline-secondary " type="button"><i
                        class="fa fa-minus" aria-hidden="true"></i></button>
                  </div>
                  <input [(value)]="p.quantity" type="text" class="form-control" placeholder="" aria-label=""
                    aria-describedby="basic-addon1">
                  <div class="input-group-append">
                    <button (click)="incrementQuantity(p)" class="btn btn-outline-secondary " type="button"><i
                        class="fa fa-plus" aria-hidden="true"></i></button>
                  </div>
                </span>
              </div>
              <div class="col-2 px-1">
                <button (click)="removeFromOrder(p._id)" class="btn btn-danger btn-sm" type="button"><i
                    class="fa fa-trash" aria-hidden="true"></i></button>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
