<div class="row">
  <div class="col">
    <a [routerLink]="['../', 'add']" class="btn btn-primary float-right">Add Product</a>
  </div>
</div>
<div class="row mt-3 row-justify-content-center" *ngIf="!products || !products.length">
  <div class="col text-center">
    <p class="display-3">Empty</p>
  </div>
</div>
<div class="mt-3 px-2 row justify-content-center ">
  <div class="col-lg-3 col-md-4 col-sm-6 p-2" *ngFor="let p of products">
    <div class="card">
      <!-- <img src="..." class="card-img-top" alt="..."> -->
      <div class="card-body">
        <h5 class="card-title">
          <a [routerLink]="['../', p._id]">
            {{p.title}}
          </a>
        </h5>
        <p class="card-text">Price: {{p.price}}</p>
        <button class="btn btn-primary" (click)="addToOrder(p._id)">Add To Card</button>
        <span class="float-right">
          <a href="#" class="btn btn-outline-secondary ml-2" [routerLink]="['../', p._id, 'edit']"><i class="fa fa-edit"></i></a>
          <button class="btn btn-outline-danger ml-2" (click)="delete(p._id)"> <i class="fa fa-trash"></i> </button>
        </span>
      </div>
    </div>
  </div>
</div>
